{% extends "BaseLoggedIn.html" %}
{% block bodyblock %}

<div id="wrapper">
    <div id="welcome" class="wrapper-style1">
        <div class="title">
            <h2>Account Information</h2>
            {% if updated: %}
                <span class="byline">Information Updated</span>
            {% endif %}
        </div>
        <Form method="post">
        <fieldset>
            {% for info in infoList %}
                {% if not info[1]: %}
                    <label for={{ info[1] }}>{{ info[0] }}: </label><input type='text' value="" name="{{ info[0] }}">
                {% else: %}
                    {% if info[0] == 'Email': %}
                        <label for={{ info[1] }}>{{ info[0] }}: </label><input type='text' readonly value="{{ info[1] }}" name="{{ info[0] }}">
                    {% else: %}
                        <label for={{ info[1] }}>{{ info[0] }}: </label><input type='text' value="{{ info[1] }}" name="{{ info[0] }}">
                    {% endif %}


                {% endif %}

            {% endfor %}


        </fieldset>
        <input type="hidden" name="editInfo" value="editInfo">
        <br><p style="text-align: center;"><input type="submit" name="ESubmit" value="Submit"></p>
        </Form>
    </div>
</div>

<div id="footer" class="container">
    <div>
        <div>
            <h2>Get in touch</h2>
            <span class="byline">We Probably Won't Have Any Of These Though</span> </div>
        <ul class="contact">
            <li><a href="#" class="icon icon-twitter"><span>Twitter</span></a></li>
            <li><a href="#" class="icon icon-facebook"><span></span></a></li>
            <li><a href="#" class="icon icon-dribbble"><span>Pinterest</span></a></li>
            <li><a href="#" class="icon icon-tumblr"><span>Google+</span></a></li>
            <li><a href="#" class="icon icon-rss"><span>Pinterest</span></a></li>
        </ul>
    </div>
    <p>&copy; 2014 Class-Survivor.com. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://www.freecsstemplates.org/" rel="nofollow">FreeCSSTemplates.org</a>.</p>
</div>

{% endblock %}

{% block jsblock %}
{% endblock %}