<!DOCTYPE html>

<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Class Survivor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A Way to Survive Class">
    <meta name="author" content="Dan Zebrowski">

    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
    <div id="header-wrapper">
        <div id="header" class="container">
            <div id="logo">
                <h1><a>Class Survivor</a></h1>
            </div>
            <div id="menu">
                <ul>
                    <li class="current_page_item"><a href="#" accesskey="1" title="">Profile</a></li>
                    <li class="current_page_item"><a href="{{ accountInfo }}" accesskey="2" title="">Account Information</a></li>
                    <li class="current_page_item"><a href="{{ signout }}" accesskey="2" title="">Sign Out</a></li>

                </ul>
                <ul>
                    <br>
                <li><p style="color: white">{{ name }} is logged in at {{ time }}.</p></li>
                </ul>
            </div>

        </div>
    </div>
    {% block cssblock %}
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/default.css" rel="stylesheet">
    {% endblock cssblock %}

</head>
<body>
{% block bodyblock %}


{% endblock %}
</body>

<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery-2.1.0.js"></script>
<script src="/js/bootstrap.js"></script>
{% block jsblock %}{% endblock %}

</html>