{% extends "BaseLoggedIn.html" %}
{% block bodyblock %}

<div id="wrapper">
    <div id="welcome" class="wrapper-style1">
        <div class="title">
            <h2>{% print className %}</h2>
            <h4>{% print professorName %}</h4>
            <span class="byline"></span>
        </div>
        <a class="button" href="/creategroup/{{ ClassID }}" style="float:left;">Create Group</a>
        <form method="post">
            <input type='hidden' name="addTutorClass" value="{{ ClassID }}">
            <input style="float:right;" class="button" type="submit" name="tutorSubmit" value="Become Tutor">
        </form>

        <div id="page" class="container">

            <div style="float: left; width: 25%; margin-left:150px;">
                <h3> Available Tutors </h3>
            </div>
            <div style="float: left; width: 25%; margin-left:150px;">
                <h3> Groups </h3>
            </div>
            <div style="width:300px; float:left; margin-left:150px;">
                <table style="width:400px; margin-right:300px; border: 1px solid black; border-collapse: collapse;">


                    <tr>
                        <td><b> Name </b></td>
                        <td><b> Price </b></td>
                        <td><b> Rating </b></td>
                    </tr>

                    {% for tutor in tutors: %}
                    <tr>
                        <td><b><a style="color: blue; text-decoration: underline;" href="/publicProfile/{{ tutor[3] }}">{{ tutor[0] }}</a></b></td>
                        <td><b>{{ tutor[1] }}</b></td>
                        <td><b>{{ tutor[2] }}</b></td>
                    </tr>
                    {% endfor %}

                </table>
            </div>
            <div style="width:300px; float:left; margin-left:150px;">
                <table style="float:left; width:300px; border: 1px solid black; border-collapse: collapse;">
                    <tr>
                        <td><b> Group Name </b></td>
                        <td><b> Group Size </b></td>
                        <td><b> Joinable </b></td>
                    </tr>

                    {% for group in groups: %}
                        <tr>
                            <td><b><a style="color: blue; text-decoration: underline;" href="/group/{{group[1][3]}}">{{ group[1][0] }}</a></b></td>
                            <td><b>{{ group[1][1] }}</b></td>
                            <td><b>{{ group[0] }}</b></td>
                        </tr>
                    {% endfor %}


                </table>
            </div>
            <div style="width:750px; float:left; margin-left:150px;"><br/><br/></div>
            <div style="width:750px; float:left; margin-left:150px;">
                <div id="iframeWrapper" style="position: relative;">
                <div id="iframeBlocker" style="position: absolute; top: 0; left:0; width:750px; height:450px;"></div>
                <iframe readonly seamless src="http://www.ratemyprofessors.com/ShowRatings.jsp?tid=1160355" scrolling="no" width="750" height="450"></iframe>
                </div>
            </div>
        </div>
    </div>

</div>


<div id="footer" class="container">
    <div>
        <div>
            <h2>Get in touch</h2>
            <span class="byline">We Probably Won't Have Any Of These Though</span> </div>
        <ul class="contact">
            <li><a href="#" class="icon icon-twitter"><span>Twitter</span></a></li>
            <li><a href="#" class="icon icon-facebook"><span></span></a></li>
            <li><a href="#" class="icon icon-dribbble"><span>Pinterest</span></a></li>
            <li><a href="#" class="icon icon-tumblr"><span>Google+</span></a></li>
            <li><a href="#" class="icon icon-rss"><span>Pinterest</span></a></li>
        </ul>
    </div>
    <p>&copy; 2014 Class-Survivor.com. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://www.freecsstemplates.org/" rel="nofollow">FreeCSSTemplates.org</a>.</p>
</div>

{% endblock %}

{% block jsblock %}

{% endblock %}