{% extends "BaseLoggedIn.html" %}
{% block bodyblock %}

<div id="wrapper">
    <div id="welcome" class="wrapper-style1">
        <div class="title">
            <h2>Class Search</h2>
            <span class="byline"></span>
        </div>

        <div align="center" style="width:100%;">
            <br/>
            <form method="post" >
                <fieldset style="width:100%;">
                    <input style="width: 50%; height: 30px;" type="text" name="searchQuery" value="" placeholder="Enter Class">
                    <br/>
                    <input class="button" align="center" type="submit" name="searchClassSubmit" value="Search!">
                </fieldset>

            </form>
        </div>

    </div>

</div>


<div id="footer" class="container">
    <div>
        <div>
            <h2>Get in touch</h2>
            <span class="byline">We Probably Won't Have Any Of These Though</span> </div>
        <ul class="contact">
            <li><a href="#" class="icon icon-twitter"><span>Twitter</span></a></li>
            <li><a href="#" class="icon icon-facebook"><span></span></a></li>
            <li><a href="#" class="icon icon-dribbble"><span>Pinterest</span></a></li>
            <li><a href="#" class="icon icon-tumblr"><span>Google+</span></a></li>
            <li><a href="#" class="icon icon-rss"><span>Pinterest</span></a></li>
        </ul>
    </div>
    <p>&copy; 2014 Class-Survivor.com. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://www.freecsstemplates.org/" rel="nofollow">FreeCSSTemplates.org</a>.</p>
</div>

{% endblock %}

{% block jsblock %}

{% endblock %}