{% extends "BaseLoggedIn.html" %}
{% block bodyblock %}

<div id="wrapper">
    <div id="welcome" class="wrapper-style1">
        <div class="title">
            <h2>Class Search</h2>
            <span class="byline"></span>
        </div>

        <div align="center" style="width:100%;">
            <br/>
            <form method="post">
                <fieldset style="width:100%;">
                    <fieldset>
                        <label for="DepartCode">Department Code: </label><input style="width:30%;" type='text' value="" name="searchDeptCode" placeholder="e.g. CS">
                        <label for="CourseNum">Course Number: </label><input style="width:30%;" type='text' value="" name="searchCourseNumber" placeholder="e.g. 125">
                        <br/>
                        <input type="hidden" name="courseSearchPage" value="courseSearchPage">

                    </fieldset>
                    <br/>
                    <input class="button" align="center" type="submit" name="searchClassSubmit" value="Search!">
                </fieldset>

            </form>
            <br/>
            <table align="center" style="width:400px; border: 1px solid black; border-collapse: collapse;">


                <tr>
                    <td><b> College </b></td>
                    <td><b> Course Number </b></td>
                    <td><b> Class Name </b></td>
                    <td><b> Professor Name </b></td>
                </tr>
                {% for row in searchResults %}
                <tr>
                    <td>{{row[0]}}</td><td>{{row[1]}}</td><td><a style="color: blue; text-decoration: underline;" href="/class/{{ row[4] }}">{{row[2]}}</a></td><td>{{row[3]}}</td>
                </tr>
                {% endfor %}

            </table>
        </div>

    </div>

</div>


<div id="footer" class="container">
    <div>
        <div>
            <h2>Get in touch</h2>
            <span class="byline">We Probably Won't Have Any Of These Though</span> </div>
        <ul class="contact">
            <li><a href="#" class="icon icon-twitter"><span>Twitter</span></a></li>
            <li><a href="#" class="icon icon-facebook"><span></span></a></li>
            <li><a href="#" class="icon icon-dribbble"><span>Pinterest</span></a></li>
            <li><a href="#" class="icon icon-tumblr"><span>Google+</span></a></li>
            <li><a href="#" class="icon icon-rss"><span>Pinterest</span></a></li>
        </ul>
    </div>
    <p>&copy; 2014 Class-Survivor.com. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://www.freecsstemplates.org/" rel="nofollow">FreeCSSTemplates.org</a>.</p>
</div>

{% endblock %}

{% block jsblock %}

{% endblock %}