{% extends "BaseLoggedIn.html" %}
{% block bodyblock %}

<div id="wrapper">
    <div id="welcome" class="wrapper-style1">
        <div class="title">
            <h2>{% print groupName %}</h2>
            <h4>{% print className + ' with ' + professorName %}</h4>
            <span class="byline"></span>
        </div>
        <br/>
        {% if not inGroup %}
            <form method="post" style="float:right;">
                <input type="hidden" name="joinGroup" value="{{ groupID }}">
                <input type="submit" name="joinSubmit" value="Join Group">
            </form>
        {% else %}
            <p style="float:right;">You are in this group</p>
            <div class="btn-group">
                <input name="group1" type="radio" checked onclick="swap('sidebar2', 'polls')">Comments
                <input name="group1" type="radio" onclick="swap('polls', 'sidebar2')">Polls
            </div>
        {% endif %}

        <div id="page" class="container">

            <div id="lsidebar4">

                <p><b>Description:</b></p>
                <p>{{ description[0] }}</p>
                <br/>
                <p><b>Members:</b></p>
                <table align="center" style="width:30%; border: 1px solid black; border-collapse: collapse;">
                    <tr>
                        {% if leader %}
                            <td>   </td>
                        {% endif %}
                        <td><b>Name</b></td>
                        <td><b>Email</b></td>
                    </tr>

                     {% for member in members %}
                        <tr>
                            {% if leader %}
                                {% if loop.index != 1 %}
                                    <td>
                                        <Form method="post">
                                            <input type="hidden" name="deleteMember" value="{{ groupID }}">
                                            <input type="hidden" name="member" value="{{ member[1] }}">
                                            <input type="submit" value="X" style="background-color: black; color: red;">
                                        </Form>
                                    </td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            {% endif %}
                            <td>{{ member[0] }}</td>
                            <td>{{ member[1] }}</td>
                        </tr>
                     {% endfor %}
                </table>

            </div>
            <div id="polls" style="display:none;">
                <p align="center"><b>Post a Poll:</b></p>
                <form align="center" method="post">
                    <textarea name="pollQuestion" cols="40" placeholder="Type Question Here"></textarea><br/>
                    <textarea name="pollChoices" rows="5" cols="40" placeholder="Enter Choices as comma separated list"></textarea><br/>
                    <input type="hidden" name="createPoll" value="{{ groupID }}">
                    <input align="center" type="submit" name="submitPoll" value="Create Poll">
                </form>
            </div>
            <div id="sidebar2">
            {% if inGroup %}
                <p align="center"><b>Post Comment:</b></p>
                <form method="post" align="center">
                    <textarea name="comment" cols="40" rows="5" placeholder="Add Comment Here"></textarea>
                    <input type="hidden" name="postCommentParent" value="{{ groupID }}">
                    <br/>
                    <input type="submit" name="commentSubmit" value="submit">
                </form>
                <br/>

                    {% for parentCom in comments %}
                        <div class="well">
                            <label align="left" style="text-align: left;">{{ parentCom[0] }}</label><p align="left" style="text-align: left;">{{ parentCom[1] }}</p>
                            {% for reply in replyComments %}

                                {% if reply[0] == parentCom[2] %}

                                    <div class="well">
                                        <label align="left" style="text-align: left;">{{ reply[1] }}</label><p align="left" style="text-align: left;">{{ reply[2] }}</p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        <div id="{{ parentCom[2] }}">
                            <form method="post">
                                <textarea name="comment" placeholder="reply comment here"></textarea>
                                <input type="hidden" name="postCommentReply" value="{{ parentCom[2] }}">
                                <br/>
                                <input type="submit" name="replySubmit" value="Reply">
                            </form>


                        </div>

                    </div>
                    {% endfor %}
                {% else %}
                    <p><b>You need to join the group to view comments</b></p>
                {% endif %}
            </div>
        </div>
    </div>

</div>


<div id="footer" class="container">
    <div>
        <div>
            <h2>Get in touch</h2>
            <span class="byline">We Probably Won't Have Any Of These Though</span> </div>
        <ul class="contact">
            <li><a href="#" class="icon icon-twitter"><span>Twitter</span></a></li>
            <li><a href="#" class="icon icon-facebook"><span></span></a></li>
            <li><a href="#" class="icon icon-dribbble"><span>Pinterest</span></a></li>
            <li><a href="#" class="icon icon-tumblr"><span>Google+</span></a></li>
            <li><a href="#" class="icon icon-rss"><span>Pinterest</span></a></li>
        </ul>
    </div>
    <p>&copy; 2014 Class-Survivor.com. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://www.freecsstemplates.org/" rel="nofollow">FreeCSSTemplates.org</a>.</p>
</div>

{% endblock %}

{% block jsblock %}
<script>
    function swap(one, two) {
        document.getElementById(one).style.display = 'block';
        document.getElementById(two).style.display = 'none';
    }
</script>
{% endblock %}